.bubble {
  float: left;
  margin: 30px;
  border-left: 10px solid #ff0080;
  border-bottom: 10px solid transparent;
  -border-bottom-color: white;
}
.bubble .body {
  float: left;
  padding: 10px 20px;
  margin: 0 0 0 -30px;
  border-radius: 10px;	
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #ff0080;
  font: bold 25px/1.2 "Gill Sans", "Trebuchet MS", sans-serif;
  text-align: center;
  color: white;
  -position: relative;
}