.image-thumb {
	position:relative;
	left:0;
	top:0;
	border: none;
	padding:10px;
	margin: 0px;
	background: #e3e3ef;
}


.image li {
	list-style-type : none;
    float  :left;
    position: relative;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
}

.image li img {
	border : 1px solid #999;
	padding : 3px;
	background : #fff;
	width : 100px;
	margin-right: 15px;
}

.image-thumb span {
	font-size: 0.8em;
	color: #CF1D1D;
}

